/*
    Based loosely on Typify Theme by TEMPLATED - templated.co @templatedco
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;-webkit-text-size-adjust:none}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #444444;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 0.09em;
    line-height: 1.65em;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3  {
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 {
    font-size: 4em;
    line-height: 1.35em;
    margin: 0 auto;
    padding: 1.1em;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-size: 1.6em;
    line-height: 1.5em;
    margin-bottom: 2em;
    display: inline-block;
    padding-bottom: 0.4em;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

h3 {
    font-size: 1.2em;
    line-height: 1.5em;
}

header {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    padding: 8em 0;
    text-align: center;
}

header a {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
    display: inline-block;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fa4542;
    color: #ffffff;
}

header a:hover {
    background-color: #f6201d;
}

header a:active {
    background-color: #d70400;
}

section {
    padding: 6em 0 4em 0;
    margin: 0 auto;
    width: 65em;
    text-align: center;
}

.cards {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin-bottom: 2em;
}

.card {
    padding: 2em 2em 0.1em 2em;
    border-style: solid;
    border-width: 1px;
    margin-left: -1px;
    margin-top: -1px;
    width: 33.33333%;
    border-color: #e3e3e3;
}

.card .fa {
    font-size: 2.8em;
    margin-bottom: 0.7em;
    color: #fa4542;
}

footer {
    background-color: #f7f7f7;
    padding: 5em 0;
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

footer a {
    color: #358df2;
}

@media screen and (max-width: 1680px) {
    body {
        font-size: 16px;
    }

    header {
        padding: 8em 0;
    }
}

@media screen and (max-width: 1280px) {
    .card {
        padding: 2em 1.5em 0.1em 1.5em;
    }

    section {
        padding: 5em 0 3em 0;
        width: 60em;
    }

    header {
        padding: 6em 0;
    }
    
    footer {
        padding: 4em 2em;
    }
}

@media screen and (max-width: 980px) {
    section {
        padding: 4em 2em 2em 2em;
        width: 100%;
    }

    header {
        padding: 4em 2em;
    }

    footer {
        padding: 3em 2em;
    }
}

@media screen and (max-width: 736px) {
    body {
        font-size: 15px;
    }

    .card {
        padding: 2em 1em 0.1em 1em;
        width: 50%;
    }

    section {
        padding: 3em 1.5em 1em 1.5em;
    }

    header {
        padding: 3em 1.5em;
    }

    h1 {
        font-size: 3em;
    }

    footer {
        padding: 2em 1em;
    }
}

@media screen and (max-width: 480px) {
    section {
        padding: 2em 1em 0.1em 1em;
    }

    .card {
        padding: 2em 0.5em 0.1em 0.5em;
        width: 100%;
    }

    header {
        padding: 3em 1em;
    }

    h1 {
        font-size: 2em;
    }

    footer {
        padding: 2em 1em;
    }
}